
.menu{
    background-color: #333;
}
.menu ul{
display: flex;
list-style: none;
justify-content: space-around;
padding: 1rem;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.menu a:hover{
    color: #ffcc00;
}